In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [32]:
print()

In [3]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shiyan,CN,2021-07-21 22:13:39,32.6475,110.7781,75.85,97,100,2.59
1,1,Verkhnyaya Inta,RU,2021-07-21 22:13:39,65.9811,60.3094,53.26,84,92,12.28
2,2,Geraldton,AU,2021-07-21 22:11:13,-28.7667,114.6000,57.61,94,90,0.00
3,3,Kurumkan,RU,2021-07-21 22:13:40,54.3000,110.3000,63.68,76,100,0.07
4,4,Ballina,AU,2021-07-21 22:13:40,-28.8667,153.5667,46.78,65,7,10.16

In [4]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [5]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [6]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [7]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=temps, dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds= city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent wind speed
locations = city_data_df[["Lat", "Lng"]]
wind_speed = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind_speed, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Shiyan,CN,2021-07-21 22:13:39,32.6475,110.7781,75.85,97,100,2.59
7,7,Ambon,ID,2021-07-21 22:13:41,-3.6954,128.1814,75.34,94,40,5.75
10,10,Rikitea,PF,2021-07-21 22:13:42,-23.1203,-134.9692,73.09,58,26,14.97
11,11,Thompson,CA,2021-07-21 22:11:50,55.7435,-97.8558,75.36,53,75,4.61
13,13,Ponta Do Sol,PT,2021-07-21 22:13:42,32.6667,-17.1000,71.71,81,0,4.36
14,14,Itoman,JP,2021-07-21 22:13:43,26.1247,127.6694,80.98,94,75,26.46
16,16,Banjar,ID,2021-07-21 22:13:43,-8.1900,114.9675,78.66,84,82,3.85
19,19,Hambantota,LK,2021-07-21 22:10:38,6.1241,81.1185,80.11,78,100,19.80
20,20,Albany,US,2021-07-21 22:13:44,42.6001,-73.9662,75.45,77,65,1.01
27,27,Lahij,YE,2021-07-21 22:13:46,13.1667,44.5833,84.92,47,18,7.99

In [13]:
preferred_cities_df.count()

City_ID       271
City          271
Country       271
Date          271
Lat           271
Lng           271
Max Temp      271
Humidity      271
Cloudiness    271
Wind Speed    271
dtype: int64

In [14]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

            City Country  Max Temp      Lat       Lng Hotel Name
0         Shiyan      CN     75.85  32.6475  110.7781
7          Ambon      ID     75.34  -3.6954  128.1814
10       Rikitea      PF     73.09 -23.1203 -134.9692
11      Thompson      CA     75.36  55.7435  -97.8558
13  Ponta Do Sol      PT     71.71  32.6667  -17.1000
14        Itoman      JP     80.98  26.1247  127.6694
16        Banjar      ID     78.66  -8.1900  114.9675
19    Hambantota      LK     80.11   6.1241   81.1185
20        Albany      US     75.45  42.6001  -73.9662
27         Lahij      YE     84.92  13.1667   44.5833

In [15]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [22]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
   
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [28]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
0,Shiyan,CN,75.85,32.6475,110.7781,Fenghuang Garden Holiday Hotel
7,Ambon,ID,75.34,-3.6954,128.1814,Swiss-Belhotel Ambon
10,Rikitea,PF,73.09,-23.1203,-134.9692,People ThankYou
11,Thompson,CA,75.36,55.7435,-97.8558,Burntwood Hotel
13,Ponta Do Sol,PT,71.71,32.6667,-17.1000,Hotel do Campo
14,Itoman,JP,80.98,26.1247,127.6694,Southern Beach Hotel & Resort Okinawa
16,Banjar,ID,78.66,-8.1900,114.9675,The Hamsa Resort
19,Hambantota,LK,80.11,6.1241,81.1185,Bungalow 63
20,Albany,US,75.45,42.6001,-73.9662,
27,Lahij,YE,84.92,13.1667,44.5833,

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} Â°F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [31]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))